* {
    margin: auto;
    max-width: 90%;
}

header {
    text-align: center;
    font-size: 3em;
    margin-bottom: .5em;
    background-color: darkgray;
    font-family: Helvetica;
    box-shadow: 5px 5px 3px #888888;
    border-radius: 1em;
    max-width: 60%;
    background-image: url(http://wallpapercave.com/wp/s7R41PL.jpg);
    /*transform: rotate(-3deg);*/
}

h1 {

  color: black;
  font-size: 1.5em;
  clear: both;

    color: black;
    font-size: 1.5em;
    clear: both;


  color: black;
  font-size: 1.5em;
  clear: both;

    color: black;
    font-size: 1.5em;
    clear: both;

}

button {
    cursor: pointer;
}

body {
    padding: 1em;
}

div {
    /*background-image: url(http://www.globalchange.gov/sites/globalchange/files/ocean-reef-fish-noC.jpg);
    z-index: -1;*/
}

section {
    background-color: lightgray;
    border-radius: 1em;
    box-shadow: 5px 5px 3px #888888;
    max-width: 93%;
    text-decoration: none;
}

section:hover {
    background-color: darkgray;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
}

p {
    text-align: center;
    font-size: 1.5em;
    padding: 1.2em;
    background-color: #e6e6e6;
    max-width: 50%;
    border-radius: 1em;
    margin: 2em;
    position: relative;
    left: 8em;
    background-image: repeating-linear-gradient(lightgray, darkgray);
    box-shadow: 5px 5px 3px #888888;
}

form {
    background-color: lightgray;
    box-shadow: 5px 5px 3px #888888;
    border-radius: 1em;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    animation-duration: 2.3s;
    animation-name: slidein;
}

@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%;
    }
    to {
        margin-left: 0%;
        width: 100%;
    }
}

form:hover,
form:active {
    background-color: darkgray;
}

#addRoomateForm {
    text-align: center;
    padding: 1em;
}

.billForm {
    padding: 1em;
    text-align: center;
}

footer {
    text-align: center;
    margin-top: 2.5em;
    background-color: darkgray;
    background: linear-gradient(to right, lightblue, green);
    font-size: 1.2em;
    border-radius: 1em;
    max-width: 60%;
}

.nav-relative {
    position: relative;
}

.nav {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    border-radius: 5px;
    border: 3px solid black;
    background: grey;
    padding: 5px;
    width: 90px;
    z-index: 4;
}

.nav a {
    font-size: 10px;
    display: block;
    color: white;
    margin: 0 0.5em;
    list-style: none;
}
table td, table th{
  outline: 1px solid red;
}

@media (min-width:320px) {
    /* smartphones, iPhone, portrait 480x320 phones */
}

@media (min-width:481px) {
    /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
    /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
}

@media (min-width:961px) {
    /* tablet, landscape iPad, lo-res laptops ands desktops */
}

@media (min-width:1025px) {
    /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
    /* hi-res laptops and desktops */
}
