* {
  margin: auto;
  max-width: 90%;
}

header {
  text-align: center;
  font-size: 3em;
  margin-bottom: .5em;
  background-color: darkgray;
  font-family: sans-serif;
  box-shadow: 5px 5px 3px #888888;
  border-radius: 1em;
  max-width: 60%;
}

body {
  background-image: url(https://pbs.twimg.com/profile_images/378800000444748483/f41d4dd5111de20d1c1265e538cee4a9_400x400.png);
  z-index: -1;
}

p {
  text-align: center;
  font-size: 1.5em;
  padding: 1.2em;
  background-color: #e6e6e6;
  max-width: 50%;
  border-radius: 1em;
  margin: 2em;
  position: relative;
  left: 7.5em;
}

form {
  background-color: lightgray;
  box-shadow: 5px 5px 3px #888888;
  border-radius: 1em;
}

form:hover, form:active {
  background-color: darkgray;
}

.roommateForm {
  text-align: center;
  padding: 1em;
}

.billForm {
  padding: 1em;
  text-align: center;
}

footer {
  text-align: center;
  margin-top: 2.5em;
  background-color: darkgray;
  font-size: 1.2em;
  border-radius: 1em;
}
