body {
    height: 100%;
    background-color: #646464;
    font-size: 11px;
    color: #fff;
    font-family: 'Exo', sans-serif;
    margin: 0 auto;
}

.nav-relative {
    position: relative;
}

.nav {
    display: block;
    position: fixed;
    top: 30px;
    right: 30px;
    border-radius: 5px;
    border: 3px solid black;
    background: grey;
    padding: 5px;
    width: 90px;
}

.nav a {
    font-size: 0.9em;
    display: block;
    color: white;
    margin: 0 0.5em;
    list-style: none;
}
